body{
    margin: 0;
    padding: 0;
    
}
.container{
        height: 100dvh;
        background-color: rgb(121, 57, 110);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
    
    
.form-login{
        background-color: rgb(178, 125, 228);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 3px 3px 4px black;
}
